[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "diff"]
	new = "#618774"
	old = "#b4637a"
[color "status"]
	added = "#618774"
	changed = "#b4637a"
	untracked = "#b4637a"
